<div class="blog-header">
  <div class="container">
      <h1 class="blog-title">
        <a href="{% url "blog:blog" %}">Arprstrap</a>
      </h1>
    <p class="lead blog-description">A nice blog made with Arpegio</p>
  </div>
</div>
