{% extends 'arpegio-core/base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      {% block main_content %}
      {% endblock %}

      {% block sidebar %}
        {% include 'arpegio-blog/includes/sidebar.html' %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
