{% extends 'arpegio-blog/base.html' %}

{% block head %}
  {% with title='Blog'|add:" - "|add:arpegio.general.site_name.value %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block main_content %}
<div class="col-sm-8 blog-main">
  {% include 'arpegio-blog/includes/posts_list.html' with posts=posts %}
  {% if is_paginated %}
    <nav>
      <ul class="pager">
        {% if page_obj.has_previous %}
          <li>
            <a href="{% url 'blog:blog' page=page_obj.previous_page_number %}">
              Older posts
            </a>
          </li>
        {% endif %}
        {% if page_obj.has_next %}
          <li>
            <a href="{% url 'blog:blog' page=page_obj.next_page_number %}">
              Newer posts
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
  </div>
{% endblock %}
