{% extends 'arpegio-blog/base.html' %}
{% load arpegio_tags %}

{% block head %}
  {% with title=post.title|striptags|add:" - "|add:arpegio.general.site_name.value %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block main_content %}
<div class="col-sm-8 blog-main">
  <div class="blog-post" id="{{ post.pk }}">
    <h2 class="blog-post-title">{{ post.title|safe }}</h2>
    <p class="blog-post-meta">
      <span class="glyphicon glyphicon-calendar"></span>
      {{ post.creation_date.date }} by
      <span class="glyphicon glyphicon-user"></span>
      {{ post.author }}
    </p>
    <div class="entry clearfix">
        {{ post.content|linebreakshtml }}
    </div>
    <p class="blog-post-meta">
      <span class="glyphicon glyphicon-folder-open"></span>
      Posted in: {{ post.categories.all|join_link:", " }}
      <strong> | </strong>
      <span class="glyphicon glyphicon-comment"></span>
      {% if post.comment_set.count %}
        {{ post.comment_set.count }} Comment{{ post.comment_set.count|pluralize }}
      {% else %}
        No Comments
      {% endif %}
      <br>
      <span class="glyphicon glyphicon-tags"></span>
      Tags: {{ post.tags.all|join_link:", " }}
    </p>
  </div>
</div>
{% endblock %}
