{% load arpegio_tags %}
{% for post in posts %}
<div class="blog-post" id="post-{{ post.pk }}">
  {% with post_url=post.get_absolute_url %}
    {% if post.featured_image %}
      <img src="{{ post.featured_image.url }}">
    {% endif %}
    <h2 class="blog-post-title">
      <a href="{{ post_url }}">{{ post.title|safe }}</a>
    </h2>
    <p class="blog-post-meta">
      <span class="glyphicon glyphicon-calendar"></span>
      {{ post.creation_date.date }} by
      <span class="glyphicon glyphicon-user"></span>
      {{ post.author }}
    </p>
    <div class="entry clearfix">
      {{ post.content|more:post_url|linebreakshtml }}
    </div>
  {% endwith %}
</div>
{% endfor %}
