{% load arpegio_blog_tags %}
<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module">
    <div class="input-group custom-search-form">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
	  <span class="glyphicon glyphicon-search"></span>
        </button>
      </span>
    </div>
  </div>
  <div class="sidebar-module">
    {% recent_posts %}
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="{{ arpegio.social_media.github.value }}">GitHub</a></li>
      <li><a href="{{ arpegio.social_media.twitter.value }}">Twitter</a></li>
      <li><a href="{{ arpegio.social_media.facebook.value }}">Facebook</a></li>
    </ol>
  </div>
</div><!-- /.blog-sidebar -->
